body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#button-div {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
}

#center-view-div {
   
}